@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-5">
        <section>
            <h2 class="text-center mb-3">Use your account to log in.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form id="account" method="post">
                <div class="mb-3">
                    <label class="form-label">Employee ID</label>
                    <input class="form-control" asp-for="Input.EmpID" />
                    <span asp-validation-for="Input.EmpID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn  btn-primary">Log in</button>
                    </div>
                </div>


            </form>
        </section>
    </div>

</div>